<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the web site, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/documentation/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// IMPORTANT: this file needs to stay in-sync with https://github.com/WordPress/WordPress/blob/master/wp-config-sample.php
// (it gets parsed by the upstream wizard in https://github.com/WordPress/WordPress/blob/f27cb65e1ef25d11b535695a660e7282b98eb742/wp-admin/setup-config.php#L356-L392)

// a helper function to lookup "env_FILE", "env", then fallback
if (!function_exists('getenv_docker')) {
	// https://github.com/docker-library/wordpress/issues/588 (WP-CLI will load this file 2x)
	function getenv_docker($env, $default) {
		if ($fileEnv = getenv($env . '_FILE')) {
			return rtrim(file_get_contents($fileEnv), "\r\n");
		}
		else if (($val = getenv($env)) !== false) {
			return $val;
		}
		else {
			return $default;
		}
	}
}


// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', getenv_docker('WORDPRESS_DB_NAME', 'bcg_vntts') );

/** Database username */
define( 'DB_USER', getenv_docker('WORDPRESS_DB_USER', 'default') );

/** Database password */
define( 'DB_PASSWORD', getenv_docker('WORDPRESS_DB_PASSWORD', 'secretassword') );

/** Database hostname */
define( 'DB_HOST', getenv_docker('WORDPRESS_DB_HOST', 'mysql') );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', getenv_docker('WORDPRESS_DB_CHARSET', 'utf8') );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', getenv_docker('WORDPRESS_DB_COLLATE', '') );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define('AUTH_KEY',         'DdXKGY,~&2]t KB3)F6Gzo.YfzL:hiov`xb !@8&kw;Z$tFjurQ&7`f5>Bo$mT(e');
define('SECURE_AUTH_KEY',  '|C^f~G<y{*t}-(C7 $>ks;v{1+NsmVlbx=j}WY*E{XhAea,g5PoCus)]o0+4S;Rj');
define('LOGGED_IN_KEY',    's]E^ZQ#n*iErWBmflQvwU1%eQS2_T8D{Af-66SrE^j0+?a3HvN8BorS1aa-Q4Z-O');
define('NONCE_KEY',        'VUa0;K@^TEXmVT%%^DH%@t~BW}jiA|{F1W9VyOU*r}amKtHMW9O*>c>Tbu!wC-M|');
define('AUTH_SALT',        '~~ 6O59`,UlF-B$jZ|q`-tBjG5~{QGd]{pAC>/P(2FN-;m#Sv6d%dWr;)^:gjn7 ');
define('SECURE_AUTH_SALT', 'y?A`&$O2%q%CrCh0lw%C(&z)0] rW0PkUabMQ.~&pND5&*eJw#k~m>S8.-8JO@g=');
define('LOGGED_IN_SALT',   'Ljy(].QQ5%JDmzY 0*(N6rMdGT8;Lh}NK!oQcrRyMc 5R`xF[KicDd.YY}uK@-t=');
define('NONCE_SALT',       '5s!?j^&|c`E}lD3Ck|$;n_9huVLb0.n<)T4u!7b-$!Q[qGv-HzXkVX;c&IlV*eXg');

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = getenv_docker('WORDPRESS_TABLE_PREFIX', 'wp_');

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/documentation/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', !!getenv_docker('WORDPRESS_DEBUG', '') );

/* Add any custom values between this line and the "stop editing" line. */

// If we're behind a proxy server and using HTTPS, we need to alert WordPress of that fact
// see also https://wordpress.org/support/article/administration-over-ssl/#using-a-reverse-proxy
if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && strpos($_SERVER['HTTP_X_FORWARDED_PROTO'], 'https') !== false) {
	$_SERVER['HTTPS'] = 'on';
}
// (we include this by default because reverse proxying is extremely common in container environments)

if ($configExtra = getenv_docker('WORDPRESS_CONFIG_EXTRA', '')) {
	eval($configExtra);
}

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require __DIR__ . '/init.php'; // Init TypeRocket
require_once( ABSPATH . 'wp-settings.php' );
